table.sgp{

}

.gr_l{
    background-color: #EDEDED !important;
}

.gr_d{
    background-color: #D3D3D3 !important;
}

.c{
    text-align: center !important;
}

.mw100 {
    min-width: 100px !important;
}
.mw50 {
    min-width: 50px !important;
}
.mw16 {
    min-width: 16px !important;
}

.zadel{
    background-color: #FFEF8C !important;
    width: 16px;
}

.bd_l{
    border-left: 1px dashed #808080;
}
