<table>
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Подача, м³/ч</th>
            <th>Мощность двигателя, кВт</th>
            <th>Частота вращения, об/мин</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">К8/18</td>
            <td rowspan="2">8</td>
            <td rowspan="2">18</td>
            <td>1,5</td>
            <td>3000</td>
        </tr>
        <tr>
            <td>2,2</td>
            <td>3000</td>
        </tr>
    </tbody>
</table>